---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-slate-200">
		<slot />
		<footer class="fixed bottom-0 left-0 w-full bg-slate-600 text-white py-1 px-2 text-center">
			<p>Trivia powered by: <a href="https://the-trivia-api.com/" target="_blank" class="text-blue-300 hover:underline">The Trivia API</a></p>
		</footer>
	</body>
</html>
